footer {
    position: absolute;
    bottom: 0;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 8em 0;
    background: url('img/top2.png') no-repeat center;
    background-size: cover;
    text-align: center;
    color: #ffffff;
    z-index: 0;
    overflow: hidden;

    > .category-and-archive {
        display: none;
    }
    > nav {
        width: 85%;
    }
    > nav > .menu {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    > nav > .menu > .menu-item {
        width: calc(100% / 6);
    }
    > nav > .menu > .menu-item > a {
        color: #ffffff;
        font-size: calc(1.2rem + .7vw);
        transition: all 0.3s;
    }
    > nav > .menu > .menu-item > a:hover {
        opacity: 0.5;
    }
    > .copyright {
        display: block;
        position: absolute;
        bottom: 0;
        font-size: calc(1rem + .4vw);
    }
}
footer:before{
    content: '';
    background: inherit;
    -webkit-filter: blur(3px);
    -moz-filter: blur(3px);
    -o-filter: blur(3px);
    -ms-filter: blur(3px);
    filter: blur(3px);
    position: absolute;
    top: 3px;
    left: 3px;
    right: 3px;
    bottom: 3px;
    z-index: -1;
}
@media screen and (max-width: 960px) {
    footer {
        padding: 2em 0 4em 0;

        > .category-and-archive {
            display: block;
            width: 100%;
            margin: 0 0 1em 0;
        }
        > .category-and-archive > .dropdown-label {
            margin: 1em 0 .3em 0;
            font-size: calc(1.2rem + .7vw);
        }
        > .category-and-archive > .postform {
            background: #ffffff;
            width: 90%;
            text-align: center;
            padding: .8em;
            border: 1px solid gray;
            border-radius: 5px;
        }
        > nav > .menu {
            flex-flow: column;
        }
        > nav > .menu > .menu-item {
            width: 100%;
            margin: .6em 0;
        }
    }
}