.header {

    > .title-div{
        display: flex;
        justify-content: center;
        width: 100%;
        text-align: center;
        font-size: 3.2rem;
        background: url('img/top1.png') no-repeat center;
        background-size: cover;
        position: relative;
        z-index: 0;
        overflow: hidden;
    }
    > .title-div:before{
        content: '';
        background: inherit;
        -webkit-filter: blur(3px);
        -moz-filter: blur(3px);
        -o-filter: blur(3px);
        -ms-filter: blur(3px);
        filter: blur(3px);
        position: absolute;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        z-index: -1;
    }
    > .title-div > .title-link > .title-img {
        display: block;
        width: 100%;
    }
    > .nav > .menu {
        display: flex;
        background: #AE4C35;
    }
    > .nav > .menu > .menu-item {
        width: calc(100% / 6);
        text-align: center;
        transition: all 0.3s;
    }
    > .nav > .menu > .menu-item > a {
        display: block;
        padding: 1em;
        color: #fff;
        font-size: calc(1rem + .4vw);
        font-weight: 500;
        white-space: nowrap;
        transition: all 0.3s;
    }
    > .nav > .menu > .menu-item:hover {
        background: #fff;

            a {
                color: #AE4C35;
            }
    }
    > .top-img-div  {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 2em 0;
        text-align: center;
        background: url('img/top2.png') no-repeat center;
        background-size: cover;
        position: relative;
        z-index: 0;
        overflow: hidden;
    }
    > .top-img-div > .profile-div {
        display: flex;
        align-items: center;
        width: 70%;
        max-width: 1000px;
        padding: 2em;
        background: rgba(252, 252, 252, 0.9);
    }
    > .top-img-div > .profile-div > .profile-icon-div {
        flex: 3;
        position: relative;
    }
    > .top-img-div > .profile-div > .profile-icon-div > .profile-icon-img {
        display: block;
        position: relative;
        margin: 0 auto;
        width: 160px;
        max-width: 100%;
    }
    > .top-img-div > .profile-div > .profile-icon-div > .my-name {
        display: block;
        font-family: cursive;
    }
    > .top-img-div > .profile-div > .profile-txt-div {
        flex: 7;
        padding: 1em;
        font-size: calc(1rem + 0.6vw);
        text-align: left;
        letter-spacing: .04em;
    }
    > .top-img-div > .profile-div > .profile-txt-div >.last-txt {
        padding: 1em 0 0 0;
    }
    > .top-img-div > .profile-div > .profile-txt-div > .last-txt > .link-to-profile {
        transition: all 0.5s;
    }
    > .top-img-div > .profile-div > .profile-txt-div > .last-txt > .link-to-profile:hover {
        opacity: 0.5;
    }
    > .hamb-button {
        display: none;
    }
}
@media screen and (max-width: 960px) {
    .header {

        > .top-img-div > .profile-div {
            width: 90%;
        }
    }
}
@media screen and (max-width: 560px) {
    .header {

        > .title-div{
            position: fixed;
            height: 50px;
            padding: .5vh 1vw;
            background: #AE4C35;
            align-items: center;
            z-index: 1;
        }
        > .title-div > .title-link > .title-img {
            width: 75%;
        }
        > .top-img-div {
            padding: 45px 0 0 0;
        }
        > .top-img-div > .profile-div {
            width: 100%;
            background: rgba(74, 72, 72, 0.9);
            color: #fff;
        }
        /* ハンバーガーメニュー */
        > .hamb-button {
            display: flex;
            flex-flow: column nowrap;
            justify-content: space-around;
            position: fixed;
            top: 8px;
            right: 0;
            margin: 5px;
            margin-top: -9px;
            width: 40px;
            min-width: 40px;
            height: 40px;
            padding: 5px;
            border-radius: 3px;
            cursor: pointer;
            z-index: 3;
        }
        .hamb-button::after {
            content: 'MENU';
            position: absolute;
            bottom: -1em;
            left: 0;
            width: 100%;
            color: #fff;
            text-align: center;
            font-size: 1.1rem;
        }
        .border {
            content: "";
            width: 100%;
            height: 4px;
            border-radius: 3px;
            background: #fff;
            transition: all .7s;
        }
        .close-button::after {
            content: 'CLOSE';
        }
        .close-button .border {
            position: absolute;
            top: 16px;
            right: 0;
        }
        .close-button > .border:nth-of-type(1) {
            transform: rotate(45deg);
        }
        .close-button > .border:nth-of-type(2) {
            opacity: 0;
        }
        .close-button > .border:nth-of-type(3) {
            transform: rotate(-45deg);
        }
        .nav {
            position: fixed;
            top: -300px;
            right: 0;
            margin: 50px 0 0 0;
            width: 100%;
            z-index: 2;
        }
        .nav > .menu {
            display: flex;
            flex-flow: column;
        }
        .hamb-nav {
            position: fixed;
            top: -72px;
            right: 0;
            width: 100%;

        }
        .hamb-nav > .menu {
            flex-flow: column;
            margin-top: 7em;
        }
        .hamb-nav > .menu > .menu-item > a {
            display: block;
            padding: 12px 0;
            padding-right: .28em;
            font-size: 1.6rem;
            font-weight: 400;
        }
        .hamb-nav > .menu > .menu-item:last-child > a {
            padding-bottom: 2em;
        }
    }
}