.main-no-aside {
    width: 90%;
    max-width: 1150px;
    margin: 7em auto;
    > .page-title {
        font-size: calc(2rem + 1.5vw);
        font-weight: 500;
        text-align: center;
    }
    > .btn-div {
        display: flex;
        justify-content: center;
        margin: 6em 0 0 0;
        text-align: center;
    }
    > .btn-div > .btn {
        display: flex;
        align-items: center;
        max-width: 100%;
        padding: 1em 4em;
        background: #ae4c35;
        border: 2px solid transparent;
        border-radius: 5px;
        color: #fff;
        font-size: calc(1rem + 1vw);
        font-weight: 700;
        letter-spacing: .1em;
        word-break: keep-all;
        transition: .3s;
        &:focus, &:hover {
            background: #fff;
            border-color: currentColor;
            color: #ae4c35;
        }
    }
    > .btn-div > .btn > .fa-envelope {
        font-size: calc(1rem + 1.3vw);
    }
}