.margin-from-header {
    margin: 60px 0;
}
.main-and-aside {

    > main > .eyecatch-div {
        display: block;
        align-items: center;
        justify-content: center;
    }
    > main > .eyecatch-div > .wp-post-image {
        display: block;
        width: 100%;
        margin: 0 0 60px 0;
    }
    > main > .article-metainfo {
        margin: 1em 0;
        font-size: 1.3rem;
    }
    > main > .article-metainfo > .cat-and-tag-div > .category {
        margin: 0 1em 0 0;
    }
    > main > .article {
        font-size: calc(1.3rem + .3vw);
        line-height: 1.7em;
    }
    > main > .post-navigation {
        margin: 5em 0;
    }
    > main > #comments {
        font-size: calc(1.2rem + .3vw);
        background: inherit;
    }
    > main > #comments::before {
        background: inherit;
    }
    > main > .post-navigation > .nav-links {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    > main > .post-navigation > .nav-links > .nav-previous, .nav-next {
        display: flex;
        align-items: center;
        max-width: 40%;
        position: relative;
        border: 1px solid #8C9BB0;
        border-radius: 5px;
        font-size: calc(1rem + .5vw);
    }
    > main > .post-navigation > .nav-links > .nav-previous > a {
        display: block;
        padding: .5em 1em .5em 2.5em;
        word-break: break-all;
    }
    > main > .post-navigation > .nav-links > .nav-previous::before {
        content: "\f137";
        position: absolute;
        left: 1em;
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
    }
    > main > .post-navigation > .nav-links > .nav-next > a {
        display: block;
        padding: .5em 2.5em .5em 1em;
        word-break: break-all;
    }
    > main > .post-navigation > .nav-links > .nav-next::after {
        content: "\f138";
        position: absolute;
        right: 1em;
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
    }
    > main > .commentlist {
        margin: 1em 0;
        padding: 1em 2em;
        border-radius: 5px;
        background: #e0f3ff;
    }
    .comment-body {
        margin: 2em 0;
        padding: 2em;
        border: 1px solid #8C9BB0;
        border-radius: 5px;
    }
    .comment-body > .comment-author {
        display: flex;
        align-items: center;
        font-size: 1.2rem;
    }
    .comment-body > .comment-author > .fn {
        margin: 0 2em;
    }
    .comment-body > .comment-author > .says {
        display: none;
    }
    .comment-body > .comment-meta {
        text-align: end;
    }
    .comment-body > p {
        padding: 1em;
        border: 1px solid #8C9BB0;
        border-radius: 5px;
        background: #ffffff;
    }
    .comment-body > .reply > a {
        display: block;
        padding: 1em 0 0 0;
    }
    > main > .comment-respond > .comment-reply-title {
        font-size: calc(1.2rem + .1vw);
        background: inherit;
    }
    > main > .comment-respond > .comment-reply-title::before {
        background: inherit;
    }
    > main > .comment-respond > .comment-form > p > label {
        display: block;
        font-size: calc(1.2rem + .2vw);
        margin: 1em 0 .5em 0;
    }
    > main > .comment-respond > .comment-form > .comment-form-comment > textarea {
        width: 60%;
        padding: 8px 15px;
    }
    > main > .comment-respond > .comment-form > .comment-form-author > input[type="text"] {
        padding: 8px 15px;
        border: 1px solid #8C9BB0;
    }
    > main > .comment-respond > .comment-form > .form-submit > .submit {
        margin: 2em 0 0 0;
        padding: .2em 2em;
        border: 1px solid #64b6ed;
        border-radius: 5px;
        color: #ffffff;
        background: #64b6ed;
        cursor: pointer;
        transition: all .3s;
    }
    > main > .comment-respond > .comment-form > .form-submit > .submit:hover {
        opacity: .5;
    }
}
@media screen and (max-width: 560px) {
    .main-and-aside {

        > main > .comment-respond > .comment-form > .comment-form-comment > textarea {
            width: 100%;
        }
    }
}

/* 小見出し、画像、段落　等 */
.article {

    // 小見出し
    h2 {
        margin: 40px 0 15px 0;
        font-size: calc(2rem + 1vw);
        font-weight: 500;
    }
    h3 {
        position: relative;
        margin: 40px 0 15px 0;
        border-radius: 0 10px 10px;
        color: #333;
        font-size: calc(2rem + .8vw);
        font-weight: 500;
        text-shadow: 0 0 2px white;
        background: #e0f3ff;
        z-index: -4;
    }
    h3:before {
        content: "";
        position: absolute;
        background: #9de5ff;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        top: 50%;
        left: -15px;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        z-index: -1;
    }
    h4 {
        position: relative;
        margin: 40px 0 15px 0;
        color: #333;
        font-size: calc(2rem + .6vw);
        font-weight: 500;
        text-shadow: 0 0 2px white;
    }
    h4:before {
        content: "";
        position: absolute;
        background: #9de5ff;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        top: 50%;
        /* border: dashed 1px white; */
        left: -15px;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        z-index: -1;
    }
    h5 {
        margin: 40px 0 15px 0;
        padding: 0 0 3px 0;
        border-bottom: 1px solid #64b6ed;
        font-size: calc(2rem + .4vw);
        font-weight: 500;
    }
    h6 {
        margin: 40px 0 15px 0;
        font-size: calc(2rem + .2vw);
        font-weight: 500;
    }
    // 動画
    video {
        cursor: pointer;
    }
    // 段落
    p {
        margin: 0 0 2.5em 0;
    }
    // 線
    hr {
        margin: 0 0 2.5em 0;
    }
    // リスト
    ul {
        margin: 0 0 2.5em 2em;

        > li {
            list-style: inside;
        }
    }
    // 引用文
    blockquote {
        position: relative;
        margin: 0 0 2.5em 0;
        padding: 10px 20px;
        box-sizing: border-box;
        font-style: italic;
        color: #4e4e4e;
        background: #f2f9ff;
    }
    blockquote:before{
        display: inline-block;
        position: absolute;
        top: 7px;
        left: 10px;
        content: "\f10d";
        font-family: FontAwesome;
        color: #d2e6ff;
        font-size: 58px;
        line-height: 1;
        font-weight: 900;
    }
    blockquote:after{
        display: inline-block;
        position: absolute;
        bottom: 5px;
        right: 15px;
        text-align: center;
        content: "\f10e";
        font-family: FontAwesome;
        color: #d2e6ff;
        font-size: 40px;
        line-height: 1;
        font-weight: 900;
    }
    blockquote > p {
        position: relative;
        padding: 0;
        margin: 10px 0;
        z-index: 3;
        line-height: 1.7;
    }
    blockquote > cite {
        position: relative;
        z-index: 3;
        display: block;
        text-align: right;
        color: #888888;
        font-size: 0.9em;
    }
    // テーブル
    figure {
        margin: 0 0 2.5em 0;
    }
    table > tbody > tr > td {
        border: 1px solid #8C9BB0;
    }
    figcaption {
        font-size: 1.2rem;
    }
    // 強調（em）
    em {
        font-style: italic;
    }
    // pre
    pre {
        margin: 0 0 2.5em 0;
    }
}