.single {
    margin: 60px 0;

    > main > .eyecatch-div {
        display: block;
        align-items: center;
        justify-content: center;
    }
    > main > .eyecatch-div > .wp-post-image {
        display: block;
        width: 100%;
        margin: 0 0 60px 0;
    }
    > main > .article-title {
        font-size: calc(2rem + 1vw);
    }
    > main > .article-metainfo {
        margin: 1em 0;
    }
    > main > .article-metainfo > .cat-and-tag-div > .category {
        margin: 0 1em 0 0;
    }
    > main > .article {
        font-size: calc(1.3rem + 0.3vw);
        line-height: 1.7em;
    }
    > main > .post-navigation {
        margin: 1em 0;
    }
    > main > .comment-respond > .comment-form > .comment-form-comment > textarea {
        border: 1px solid;
        border-radius: 5px;
    }
}