@charset "UTF-8";
@import 'reset';
@import 'header';
@import 'footer';
@import 'sidebar';

/* 初期設定 */
a {
    color: #0ab0fa;
}
#wrapper {
    position: relative;
    width: 100%;
    min-height: 100vh;
    font-family: 'Noto Sans JP', 'ヒラギノ角ゴ Pro W', 'Hiragino Kaku Gothic Pro', 'メイリオ', '游ゴシック', '游ゴシック体', sans-serif;
    overflow: hidden;
    padding-bottom: 200px;
    box-sizing: border-box;
}

.contents {
    display: flex;
    flex-flow: column;
    width: 70%;
    min-width: 600px;
    margin: 0 auto;

    > .popular-articles {
        margin: 30px 0 0 0;
    }
    > .popular-articles > .popular-article-heading {
        font-size: calc(16px + .5vw);
        text-align: center;
        white-space: nowrap;
    }
    > .ad-placeholder {
        border: 1px solid;
        background: gray;
        color: white;
        padding: 30px 0;
        text-align: center;
        font-size: 20px;
        margin: 40px 0;
    }
    > .main-and-aside {
        display: flex;
    }
}

main {
    flex: 7.5;
}

.new-articles {
    border-top: 1px solid gray;

    > .post {
        display: flex;
    }
    > .post > .article-left-div {
        width: 160px;
    }
    > .post > .article-left-div > .thumbnail-link > .wp-post-image {
        display: block;
        width: 100%;
    }
    > .post > .article-right-div {
        width: calc(100% - 160px);
    }
    > .post > .article-right-div > .article-title {
        font-size: 24px;
    }
    > .post > .article-right-div > .article-title > .article-title-link {
        color: black;
    }
    > .post > .article-right-div > .article-metainfo {
        display: flex;
    }
    > .post > .article-right-div > .article-metainfo > .postedtime {
        margin: 0 10px 0 0;
    }
    > .post > .article-right-div > .post-description {
        font-size: 16px;
        overflow-wrap: break-word;
    }
    > .post > .article-right-div > .post-description > p > .to-article-link {
        font-size: calc(12px + .2vw);
    }
}

/* ページネーション */
.pagenation {
    display: flex;
    justify-content: center;
    margin: 3em;

    > .pagenation-ol {
        display: flex;
        margin: 0 .5em;
    }
    > .pagenation-ol > .pagenation-btn {
        border: 1px solid gray;
        margin: 0 .5em;
        padding: 5px 12px;
        font-size: 16px;
    }
    > .pagenation-btn {
        border: 1px solid gray;
        padding: 5px 11px;
        font-size: 14px;
    }
}